<template>
    <section class="portfolio section" id="portfolio">
        <div class="background-bg">
            <div class="overlay overlay-sm">
                <img
                    src="../assets/img/shapes/half-circle.png"
                    class="shape half-circle1"
                    alt=""
                />
                <img
                    src="../assets/img/shapes/half-circle.png"
                    class="shape half-circle2"
                    alt=""
                />
                <img src="../assets/img/shapes/square.png" class="shape square" alt=""/>
                <img src="../assets/img/shapes/wave.png" class="shape wave" alt=""/>
                <img src="../assets/img/shapes/circle.png" class="shape circle" alt=""/>
                <img
                    src="../assets/img/shapes/triangle.png"
                    class="shape triangle"
                    alt=""
                />
                <img src="../assets/img/shapes/x.png" class="shape xshape" alt=""/>
            </div>
        </div>

        <div class="container">
            <div class="section-header">
                <h3 class="title" data-title="My works">Portfolio</h3>
            </div>

            <div class="section-body">
                <div class="filter">
                    <button class="filter-btn active" data-filter="*">All</button>
                </div>

                <div class="grid">
                    <div class="logo-design">
                        <div class="gallery-image">
                            <img src="../assets/img/portfolio/sirius.jpg" alt=""/>
                            <div class="img-overlay">
                                <div class="img-description">
                                    <h3>CRM system</h3>
                                </div>
                            </div>
                        </div>
                    </div>

<!--
                    if I want add another one

                    <div class="grid-item logo-design">
                        <div class="gallery-image">
                            <img src="../assets/img/portfolio/port1.jpg" alt=""/>
                            <div class="img-overlay">
                                <div class="plus"></div>
                                <div class="img-description">
                                    <h3>Logo Design</h3>
                                    <h5>View Demo</h5>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </section>
</template>