<template>
    <section class="services section" id="services">
        <div class="container">
            <div class="section-header">
                <h3 class="title" data-title="What I Do">Services</h3>
                <p class="text">
                    Full-Stack Software Developer
                </p>
            </div>

            <div class="cards">
                <div class="card-wrap">
                    <img
                        src="../assets/img/shapes/points3.png"
                        class="points points1 points-sq"
                        alt=""
                    />
                    <div class="card" data-card="UI/UX">
                        <div class="card-content z-index">
                            <img src="../assets/img/design-icon.png" class="icon" alt="" />
                            <h3 class="title-sm">Frontend</h3>
                            <p class="text">
                                JavaScript, Vuejs, Tailwindcss, HTML, CSS, VuetifyJs
                            </p>
                            <a href="#" class="btn small">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="card-wrap">
                    <div class="card" data-card="Code">
                        <div class="card-content z-index">
                            <img src="../assets/img/code-icon.png" class="icon" alt="" />
                            <h3 class="title-sm">Backend</h3>
                            <p class="text">
                                PHP, Laravel, RestAPI
                            </p>
                            <a href="#" class="btn small">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="card-wrap">
                    <img
                        src="../assets/img/shapes/points3.png"
                        class="points points2 points-sq"
                        alt=""
                    />
                    <div class="card" data-card="App">
                        <div class="card-content z-index">
                            <img src="../assets/img/app-icon.png" class="icon" alt="" />
                            <h3 class="title-sm">DevOps</h3>
                            <p class="text">
                                Docker, Gitlab
                            </p>
                            <a href="#" class="btn small">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="card-wrap">
                    <img
                        src="../assets/img/shapes/points3.png"
                        class="points points2 points-sq"
                        alt=""
                    />
                    <div class="card" data-card="App">
                        <div class="card-content z-index">
                            <img src="../assets/img/app-icon.png" class="icon" alt="" />
                            <h3 class="title-sm">Database Development</h3>
                            <p class="text">
                                MySQL, SQLite
                            </p>
                            <a href="#" class="btn small">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>