<template>
    <main>
        <router-view/>

        <footer class="footer">
            <footer_layout/>
        </footer>
    </main>
</template>
<script>
import Footer_layout from "@/layouts/footer_layout";

export default {
    components: {Footer_layout}
}
</script>